<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather</title>
  <link rel='stylesheet' href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<style>
  body {
    color:PaleVioletRed;
  }
</style>
<body>
  <center>
  <form action="/weather_results">
      Type in your city: <br>
      <input type="text" name="city"><br>
      <input type="submit" value="Submit!">
  </form>
  </center>
</body>
</html>
